<form class="well form-horizontal col-lg-4 col-centered">
  <fieldset>
    <legend>Login</legend>
    <div class="form-group">
      <label for="username" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="username" #username placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input #password type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button (click)="onLoginClicked(username.value, password.value)" type="submit" class="btn btn-primary">Login
        </button>
      </div>
    </div>
  </fieldset>
</form>
