<nav class="navbar navbar-default" *ngIf="isAuthenticated()">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
        <li><a routerLink="/tv-shows" routerLinkActive="active">Tv Shows</a></li>
        <li><a routerLink="/identification" routerLinkActive="active">Identification</a></li>
        <li *ngIf="isAdmin()"><a routerLink="/admin" routerLinkActive="active">Administration</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/preferences" routerLinkActive="active"><span class="glyphicon glyphicon-wrench"></span></a></li>
        <li><a href="#" (click)="logout()"><span class="glyphicon glyphicon-off"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
